<!-- Launch File For Move_base Automatic Navigation System -->
<launch>

  <!-- Run the map server For GLOBAL COSTMAP -->
  <!--<node name="static_tf0" pkg="tf" type="static_transform_publisher" args="2 0 0 0 0 0 /map_costed /base_link 100"/>-->
  <node name="static_tf1" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /map_costed 100"/>
  <node name="map_server2" pkg="map_server" type="map_server" args="/home/sax/map_dumbobot/17_hall.yaml">
    <remap from="/map" to="/map_costed"/>
    <param name="frame_id" value="/map_costed"/>
  </node> 
  <!-- Run the map server For LOCALIZATION-->
 <node name="map_server" pkg="map_server" type="map_server" args="/home/c3mx/MAPs/17.yaml"/> 

  <!--- Run AMCL -->
  <include file="$(find ros_dumbobot_nav)/launch/hg_amcl_dumbo.launch" /> 

  <!--- Run move_base to Automatically control our robot -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
  <remap from="/map" to="/map_costed"/>
    <!-- Map CMD_VEL to /ros_dumbobot/raw_cmd_vel TO VELOCITY SMOOTHER -->
      <remap from="cmd_vel" to="/ros_dumbobot/raw_cmd_vel" />
    <!-- Load the Move_Base Configuration Parameters -->
      <rosparam file="$(find ros_dumbobot_nav)/hg_config/hg_move_base_param.yaml" command="load" />
    <!-- Global Costmap Common Params -->
      <rosparam file="$(find ros_dumbobot_nav)/hg_config/hg_costmap_common_param.yaml" command="load" ns="global_costmap" />
    <!-- Local Costmap Common Params -->
      <rosparam file="$(find ros_dumbobot_nav)/hg_config/hg_costmap_common_param.yaml" command="load" ns="local_costmap" />
    <!-- Local Costmap Specific Params -->
      <rosparam file="$(find ros_dumbobot_nav)/hg_config/hg_local_costmap_param.yaml" command="load" />
    <!-- Global Costmap Specific Params -->
      <rosparam file="$(find ros_dumbobot_nav)/hg_config/hg_global_costmap_param_17.yaml" command="load" />
      <rosparam file="$(find ros_dumbobot_nav)/hg_config/hg_base_local_planner_param.yaml" command="load" />
    
  </node>
</launch>
