<launch>
    <arg name="laser_path" default="" />
    <node ns="icreate" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
        <rosparam command="load" file="$(arg laser_path)" />
        <!--<rosparam command="load" file="$(find icreate_base)/params/laser_filters_rplidar_config.yaml" />-->
        <!--<rosparam command="load" file="$(find icreate_base)/params/laser_filters_hokuyo_config.yaml" />-->
        <!--<remap from="/scan" to="/scan_filtered" />-->
    </node>
</launch>