<launch>

    <arg name="ns" default="" />
    <!--<group ns="$(arg ns)">-->
    <!--Initial pose of Robot for Localization-->
    <arg name="initial_pose_x" default="0.0" />
    <arg name="initial_pose_y" default="0.0" />
    <arg name="initial_pose_a" default="0.0" />

    <!--Localizer Controller : AMCL Algorithm & Gmapping Algorithm-->
    <node pkg="icreate_navigation" type="localization_controller.py" name="localization_controller" output="screen">
        <param name="namespace" value="$(arg ns)" />
    </node>

    <!--Velocity Smoother-->
    <include file="$(find icreate_navigation)/launch/modules/velocity_smoother.launch">
    </include>

    <!--Navigation Stack-->
    <include file="$(find icreate_navigation)/launch/modules/move_base.launch">
        <arg name="ns" default="$(arg ns)" />
    </include>
    <!--</group>-->
</launch>