<launch>
    <!--Map Server-->
    <arg name="map1" default="build4_f17" />
    <node pkg="map_server" type="map_server" name="$(arg map1)_map_server" args="$(find miltbot_map)/map/$(arg map1).yaml" output="screen">
        <remap from="map" to="$(arg map1)/map" />
        <remap from="map_metadata" to="$(arg map1)/map_metadata" />
        <remap from="static_map" to="$(arg map1)/static_map" />
    </node>

    <!--Map Server-->
    <arg name="map2" default="build4_f19" />
    <node pkg="map_server" type="map_server" name="$(arg map2)_map_server" args="$(find miltbot_map)/map/$(arg map2).yaml" output="screen">
        <remap from="map" to="$(arg map2)/map" />
        <remap from="map_metadata" to="$(arg map2)/map_metadata" />
        <remap from="static_map" to="$(arg map2)/static_map" />
    </node>

    <!--Map Server-->
    <arg name="map3" default="build4_f20" />
    <node pkg="map_server" type="map_server" name="$(arg map3)_map_server" args="$(find miltbot_map)/map/$(arg map3).yaml" output="screen">
        <remap from="map" to="$(arg map3)/map" />
        <remap from="map_metadata" to="$(arg map3)/map_metadata" />
        <remap from="static_map" to="$(arg map3)/static_map" />
    </node>

    <!--Map Server-->
    <!--<arg name="map" default="build4_f20" />-->
        <!--<node ns="bot1" pkg="map_server" type="map_server" name="map_server" args="$(find miltbot_map)/map/$(arg map).yaml" output="screen">-->
    <!--</node>-->
    
</launch>