<launch>
    <!--Map Server-->
    <arg name="map1" default="build4_f17" />
    <node ns="$(arg map1)" pkg="map_server" type="map_server" name="map_server" args="$(find miltbot_map)/map/$(arg map1).yaml" output="screen">
    </node>

    <!--Map Server-->
    <arg name="map2" default="build4_f20" />
    <node ns="$(arg map2)" pkg="map_server" type="map_server" name="map_server" args="$(find miltbot_map)/map/$(arg map2).yaml" output="screen">
    </node>

</launch>