<launch>
    <arg name="ns" default="" />
    <node pkg="miltbot_vision" type="door_detection" name="door_detection" output="screen" >
        <remap from="camera/rgb/image_color" to="$(arg ns)/camera/rgb/image_color" />
        <remap from="camera/depth/image_raw" to="$(arg ns)/camera/depth/image_raw" />
        <remap from="is_front_lift" to="$(arg ns)/is_front_lift" />
    </node>
</launch>