<launch>
    <arg name="ns" default="" />
    <node pkg="miltbot_vision" type="kinect_open" name="kinect_open" output="screen" >
        <!--<param name="color_image_sub_topic" value="$(arg ns)/camera/rgb/image_color/compressed"/>-->
        <!--<param name="depth_image_sub_topic" value="$(arg ns)/camera/depth/image"/>-->
        <remap from="camera/rgb/image_color/compressed" to="$(arg ns)/camera/rgb/image_color/compressed" />
        <remap from="camera/depth/image" to="$(arg ns)/camera/depth/image" />
        <remap from="is_front_lift" to="$(arg ns)/is_front_lift" />
    </node>
</launch>