<launch>
    <!--start joy node-->
    <node pkg="joy" type="joy_node" name="dumbobot_joy_node" respawn="true">
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>

    <!-- Axes -->
    <param name="axis_linear" value="1" type="int"/>
    <param name="axis_angular" value="3" type="int"/> <!-- 3 For Seperation Joy -->
    <param name="button_deadman_switch" value="2" type="int">
    <param name="scale_linear" value="0.60" type="double"/>
    <param name="scale_angular" value="1.78" type="double"/>

    <!--start dumbobot joy-->
    <node pkg="dumbobot_teleop" type="dumbobot_teleop_joy_node" name="dumbobot_joy">
    </node>>
</launch>