<launch>
    <include file="$(find icreate_base)/launch/config/icreate_node.launch"/>

    <include file="$(find icreate_base)/launch/config/hokuyo.launch"/>

    <include file="$(find icreate_base)/launch/config/tf_static_transform.launch"/>

    <include file="$(find icreate_base)/launch/config/laser_filters.launch"/>

</launch>